body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive; /* Aggiunto un font in stile Pokémon */
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.main-content {
    margin-top: 30px;
    background-color: #FFD700;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e60012; /* Rosso Pokémon */
    font-family: 'Press Start 2P', cursive;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#welcomeMessage, #instructionsList {
    color: #333;
}

#instructionsList {
    text-align: center;
}

#toggleButton {
    background-color: #e60012;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleButton:hover {
    background-color: #e60013b0;
    animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#evoButton, .punteggioFlex button {
    background-color: #4caf50; /* Verde Pokémon */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#evoButton:hover, .punteggioFlex button:hover {
    background-color: #35f33ca4;
}

.flex {
    margin-top: 20px;
    align-items: center;
}

hr {
    margin: 0 10px;
}

#resetBonusButton {
    background-color: #e60012;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#resetBonusButton:hover {
    background-color: #e60013b0;
    animation: pulse 0.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

#resetCounter {
    margin-left: 10px;
}

footer {
    margin-top: 20px;
    color: #777;
    /* animation: slideInUp 1s ease-out; */
}

@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    margin: 0;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

#bonusSelect, #impresaSelect, .button {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #FFD700; /* Bordo dorato */
    border-radius: 5px;
    background-color: #4C4C4C; /* Colore grigio scuro */
    color: white;
    /* margin-top: 10px; */
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.button {
    margin: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover, #bonusSelect:hover {
    background-color: #666; /* Cambia colore al passaggio del mouse */
    transform: scale(1.1);
}

.bonusDiv, .impresaDiv {
    cursor: pointer;
    border: 2px solid #FFD700; /* Bordo dorato */
    padding: 10px;
    margin-bottom: 10px;
    display: flex; /* Utilizza il modello di flessbox */
    justify-content: space-between; /* Allineamento dei figli ai margini opposti */
    align-items: center;
    background-color: #4C4C4C; /* Colore grigio scuro */
    color: white;
    position: relative; /* Posizione relativa per consentire il posizionamento assoluto */
    gap: 30px;
    transition: transform 0.3s;
}

.bonusDiv:hover, .impresaDiv:hover {
    transform: scale(1.05);
}

#bonusContainer, #impresaContainer {
    width: 500px;
}

#main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#punteggioContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: bounceIn 1s;
}

@keyframes bounceIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.punteggioFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.punteggioFlex button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.punteggioFlex button:hover {
    background-color: #35f33ca4;
    transform: scale(1.1);
}

#punteggio {
    font-size: 24px;
    animation: pulseColor 2s infinite alternate;
}

@keyframes pulseColor {
    0% {
        color: #04f50c;
    }
    100% {
        color: #80eb83a4;
    }
}

.flex-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ol {
    font-size: 14px;
    max-width: 700px;
}

ol li {
    margin-bottom: 8px;
    line-height: 16px;
}

ol li:last-child {
    margin-bottom: 15px;
}

#resetButton, #resetBonusButton {
    margin: 0;
}

.flex {

    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}